
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>About</title>
</head>
<body>
    <div>
        <h1>About</h1>
        <a href="/Home/Index">home -index</a>

        <a href="/home/about"> home -about</a><br />

        <a href="/Home/About">home -about</a><br />

        <a href="/Indexx/Indexx">Indexx -Indexx</a><br />

     <a href="/ContactUs/ContactUs">ContactUs -ContactUs</a><br />

        @*<a href="/AboutUs/AboutUs">About</a>*@
    </div>
</body>
</html>
