@model HelperClass.Models.ResorantInfo
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RestoantInfo</title>
</head>
<body>
   <div>
       @Model.Id <br />
       @Model.Name<br /><br />
       @Model.Adress

   </div>
</body>
</html>
