
@{
    ViewBag.Title = "_common";
}

<h2>_common</h2>

<header style="height:200px; background-color:beige">
    <h1>This is header</h1>
</header>

<div>
  @RenderBody()
</div>
<footer style="height:200px;background-color:antiquewhite">
    <h1>This is footer</h1>
</footer>
