
@{
    ViewBag.Title = "_NEWComon";
}

<h2>_NEWComon</h2>

<header style="height:200px; background-color:black;color:azure">
    <h1>This is header</h1>
</header>

<div>
    @RenderBody()
</div>
<footer style="height:200px;background-color:antiquewhite">
    <h1>This is footer</h1>
</footer>