@model RoughtConfig.Models.employee

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetEmployee</title>
</head>
<body>
    <div>
        <h4>employee</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.city)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.city)
            </dd>
    
        </dl>
    </div>

</body>
</html>
